.post-detail-parent {
    padding-top: 10px;
}
.post-detail-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}
.post-detail-price {
    color: red;
}
.post-detail-description {
    padding-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
    white-space: pre-line;
}